body {
    background: #eee;
    font-family: Arial;
}

.detail-container {
    max-width: 900px;
    margin: 60px auto;
}

.detail-title {
    font-size: 22px;
    font-weight: bold;
    border-left: 4px solid #000;
    padding-left: 10px;
    margin-bottom: 30px;
}

.detail-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 30px;
}

.row {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.label {
    width: 150px;
    color: #777;
}



.center {
    text-align: center;
    font-weight: bold;
}

.time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.time-flex {
    display: flex;
    align-items: center;
    gap: 50px; 
}

.time-row {
    display: flex;
    align-items: center;
    gap: 50px; 
}

.mb {
    margin-bottom: 8px;
}

input[type="time"] {
    width: 80px;
    padding: 5px;
    text-align: center;
}

textarea {
    width: 300px;
    height: 80px;
}

.btn-area {
    text-align: right;
    margin-top: 20px;
}

.btn {
    background: #000;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
}

.notice {
    color: red;
    text-align: right;
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}

.date-flex {
    display: flex;
    align-items: center;
    gap: 180px; 
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.row:last-child {
    border-bottom: none;
}

input:disabled,
textarea:disabled {
    background: #fff;        /* ← 白にする */
    border: 1px solid #fff;  /* ← 枠をうっすら残す */
    color: #000;
    opacity: 1;              /* ← 薄くならないように */
}

textarea {
    resize: none;
}

.approved-btn {
    background-color: #999;
    color: #fff;
    cursor: not-allowed;
    border: none;
}